/* *** Tags *** */

body {
	background: url('/assets/bg.png');
	font-family: "Open Sans", helvetica, arial;
	font-family:"droid sans";
}

p {
	font-size:14px;
	line-height:23px;
}

h2 {
	padding:40px;
	padding-bottom:50px;
}

/* *** IDs *** */

#main {
	width:1000px;
	margin:0px auto;
	margin-top: 30px;
	margin-bottom: 100px;
	background:rgb(255, 255, 255);
	box-shadow:0px 0px 60px 5px;
	color:#111;
	border:solid #333 10px;
}
	#header {
		width:100%;
		padding:0;
		margin:0;
		list-style-type:none;
		overflow: hidden;
		width: 100%;
		background-image: -webkit-gradient(
			linear,
			left bottom,
			left top,
			color-stop(0, rgb(200,200,200)),
			color-stop(1, rgb(245,245, 245))
		);
	}

	.menu-item {
		position: relative;
		height: 150px;
		display: inline;
		float:left;
	}

	.menu-item a {
		float:left;
		width:110px;
		height:85px;
		padding:20px;
		text-decoration:none;
		border-image:url(/assets/texture.png) 30 30 round;
		border-top:0px;
		border-right:0;
		border-left: 0;
		border-bottom-width: 15px;
		color:#555;
		font-weight: bold;
		font-size: 20px;
		text-align: center;
		padding-top:30px;
	} 

	.menu-item a:hover {
		border-image:none;
		background-image: -webkit-gradient(
			linear,
			left bottom,
			left top,
			color-stop(0, rgb(240,240,240)),
			color-stop(1, rgb(210,210,210))
		);
		border-bottom:solid 20px rgb(220, 220, 100);
	} 

	.menu-item-hover{
		position: absolute;
		bottom: -15px;
		left:0px;
		background: #777;
		width:150px;
		height: 0px;
		overflow: hidden;
		border-top:solid 15px rgb(220, 220, 100);
	}

		#header .menu-item-hover a {
			padding:0;
			height:35px;
			width: 150px;
			font-size: 14px;
			border: 0;
			line-height: 35px;
			color: white;
			text-shadow:2px 2px 5px black;
			background: url("/assets/texture.png");

		} #header .menu-item-hover a:hover {
			background-image: -webkit-gradient(
				linear,
				left bottom,
				left top,
				color-stop(0, rgb(150,150, 150)),
				color-stop(1, rgb(170,170,170))
			);
		}

	.active-menu-item a{
		border-image: none;
		border-bottom:solid 15px rgb(220, 220, 100);
		background-image: -webkit-gradient(
			linear,
			left bottom,
			left top,
			color-stop(0, rgb(255,255,255)),
			color-stop(1, rgb(220,220,220))
		);

	}
		.menu-item a img {
			padding-top: 10px;
		}

	#logo-menu-item{
		text-align: left;
		width:380px;
		height:95px;
		overflow: hidden;
		padding:20px;
		padding-right:0;		
	}

		#logo-menu-item>img {
			float:left;
			height: 100px;
			padding-top:0px;
		}

		#logo-menu-item>div {
			float:left;
			color:#333;
			padding-left:15px;
			padding-top:5px;
			line-height: 20px;
			font-style: oblique;
			color: #555;
			font-size: 14px;
		}

			#logo-menu-item #company-name {
				font-size: 26px;
				line-height: 40px;
				font-weight: bold;
				font-style: normal;
				color: #444;
			}


#content {
}
	
	#featured{
		position: relative;
	}
		#welcome{
			width:300px;
			height:280px;
			padding:40px;
			padding-top: 30px;
		}
			#welcome h1 {

			}
		#slider-container {
			padding-top:20px;
			padding-right:20px;
			position: absolute;
			height:310px;
			width: 620px;
			right:0px;
			top:0px;
		}

#triple-container {
	overflow: hidden;
	width: 100%;
}

	#triple-container>div {
		float:left;
		width:285px;
		padding-left:40px;
		padding-bottom:20px;
	}

/* *** Classes *** */

