#googleMap {
	width:100%;
	height:380px; 
	border-top:solid 10px #888;
}

#googleMap img {
	float:left; 
	width:50px; 
	padding-right:10px;
}

#googleMap div#left {
	float: left;
	padding-right:20px;
}

#googleMap p {
	line-height: 5px;
	font-size: 14px;
}

#googleMap p#name {
	margin:10px 0;
	margin-bottom:17px;
	font-size: 16px;
	font-weight: bold;
}